.footer {
    position: relative;
    top: 900px;
    max-width: 1920px;
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 150px;
    border-top: 1px solid rgb(217, 217, 217);
}

.container {
    margin: auto;
}

.footer_logo {
    margin: auto;
    margin-right: 177px;
}

.footer_logo + div {
    margin-right: 98px;
}

.footer_blog {
    padding-top: 40px;
    display: flex;
    background-color: #FFFFFF;
}

.footer_info {
    display: grid;
    color: #ccc;
}

.info_a {
    margin-top: 20px;
    color: #000;
    text-decoration: none;
    width: 150px;
}

.footer_info_blog {
    display: flex;
    flex-direction: column;
}

.topRow, .bottomRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}

.square {
    width: 250px;
    height: 120px;
    background-color: #ccc;
}

.blog_footer {
    display: flex;
}

/* Адаптация под планшеты с разрешением 1024px */
@media (max-width: 1024px) {
    .footer {
        margin-top: 50px;
        padding: 0 10px;
    }

    .footer_blog {
        max-width: 584px; /* Установка ширины главного блока */
    }

    .footer_logo {
        margin-right: 50px; /* Уменьшение отступа от логотипа */
    }

    .footer_logo + div {
        margin-right: 50px; /* Уменьшение отступа между блоками */
    }

    .footer_info {
        font-size: 14px;
    }

    .info_a {
        height: 15px;
        margin-top: 10px;
        width: 100px;
        line-height: 14px;
        font-weight: 500;
        font-size: 12px;
        
    }

    .square {
        width: 64px; /* Уменьшение размера квадратов */
        height: 64px;
    }

    .topRow, .bottomRow {
        gap: 10px; /* Уменьшение промежутков между квадратами */
    }
}
