.tradeOperation {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  text-align: left;
  max-width: 1600px;
  width: 100%;
  align-self: center;
}

.container {
  display: flex;
  justify-content: center;
}

.tradeOperation_block {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  min-height: 966px;
}

.tradeOperation_title {
  min-width: 925px;
  max-width: 1600px;
  min-height: 156px;
  display: flex;
  flex-direction: column;
  margin: 60px 0;
  font-weight: 700;
  width: 100%;
  gap: 20px;
}

.tradeOperation_title_header {
  color: rgb(11, 22, 35);
  font-size: 48px;
  line-height: 58px;
}

.tradeOperation_largeText {
  color: rgb(57, 113, 255);
  font-size: 56px;
  line-height: 68px;
}

.tradeOperation_childBlock {
  display: flex;
  gap: 20px;
  width: 100%;
}
.tradeOperation_form {
  max-width: 790px;
  min-height: 750px;
  width: 100%;
  padding: 32px;
  transition: ease 0.4s;
}

.tradeOperation_form:hover {
  
  background-color: #F7F7F7;
}

.tradeOperation_childForm {
  max-width: 655px;
  min-height: 661px;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  margin: 32px 0;
}
.tradeOperation_headerForm {
  color: rgb(71, 123, 255);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

.tradeOperation_inputBlock {
  max-width: 655px;
  min-height: 394px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  margin: 32px 0;
}
.tradeOperation_inputText {
  max-width: 655px;
  min-height: 110px;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}
.tradeOperation_text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.tradeOperation_input {
  box-sizing: border-box;
  border: 2px solid #adadad;
  border-radius: 2px;
  background: rgb(255, 255, 255);
  min-height: 69px;
  min-width: 385px;
  padding: 10px 24px;
  order: 1;
  margin: 12px 0;
  color: rgb(173, 173, 173);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}
#inputWidth {
  min-width: 655px;
  width: 100%;
}
.tradeOperation_spanBtn {
  max-width: 555px;
  min-height: 145px;
  width: 100%;
}

.tradeOperation_span {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.tradeOperation_btn {
  border-radius: 2px;
  background: rgb(71, 123, 255);
  max-width: 385px;
  height: 69px;
  border: none;
  padding: 20px 10px;
  order: 1;
  margin: 32px 0;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  width: 100%;
}
