* {

        -webkit-user-select: none; /* Для браузеров, основанных на WebKit (Chrome, Safari) */
    
        -moz-user-select: none; /* Для браузеров, основанных на Gecko (Firefox) */
    
        -ms-user-select: none; /* Для браузеров Internet Explorer/Edge */
    
        user-select: none; /* Стандартное свойство */
    
    }

.tradeOperation {
    max-width: 790px;
    width: 100%;
    height: auto;
    padding: 32px;
}