.Help {
  margin-top: 80px;
  margin-bottom: 466px;
  margin-right: 160px;
  margin-left: 160px;
  width: 85%;

  h1 {
    margin: 0;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    text-align: left;
    margin-bottom: 60px;
  }

  .variationsBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;

    .variation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 56px;
      box-shadow: 0px 2px 4px 0px #00000040;
      background-color: #FDFDFD;
      padding: 24px;
      margin-bottom: 19px;

      p {
        width: 419px;
        margin: 0;
        font-family: 'Inter';
        font-size: 24px;
        font-weight: 600;
        line-height: 29.05px;
        text-align: left;
      }

      button {
        height: 50px;
        margin: 0;
        border: none;
        background-color: #FDFDFD;

        svg {
          pointer-events: none;
        }
      }

      .activeBtn {
        transform: rotate(180deg);
        position: absolute;
        margin-left: 419px;
      }
    }

    .activeBlock {
      display: flex;
      flex-direction: column;
      gap: 12px;
      height: 360px;
      width: 465px;
      align-items: normal;

      .text {

        span {
          width: 465px;
          display: flex;
          flex-direction: column;
          font-family: 'Inter';
          font-size: 24px;
          font-weight: 500;
          line-height: 29.05px;
          text-align: left;
        }

        .instruction {
          margin: 0;
          li {
            // width: 375px;
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .Help {
    margin-top: 30px;
    margin-bottom: 184px;
    margin-right: 80px;
    margin-left: 80px;

    h1 {
      font-family: 'Inter';
      font-size: 20px;
      font-weight: 700;
      line-height: 24.2px;
      text-align: left;
      margin-bottom: 30px;
    }

    .variationsBlock {
      gap: 10px;

      
      .activeBlock {
        width: 280px; 
        min-height: 176px;

        .text {
          width: 267px;

          span {
            width: 267px;
            font-family: 'Inter';
            font-size: 12px;
            font-weight: 400;
            line-height: 14.52px;
            text-align: left;

            .instruction {
                padding-left: 15px;

              li {
                width: 267px;
              }
            }
          }
        }
      }

      .variation {
        height: 34px;
        padding: 8px;
        

        p {
          font-family: 'Inter';
          font-size: 14px;
          font-weight: 600;
          line-height: 16.94px;
          text-align: left;
          width: 186px;
          margin-right: 63px;
        }

        svg {
          width: 18px;
        }

        .activeBtn {
          margin-left: 250px;
          height: 35px;
        }
      }
    }
  }
}