@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// Переменные
$primary-color: #3971ff;
$primary-hover: rgba(136, 170, 255, 1);
$primary-click: rgba(34, 70, 159, 1);
$white: #ffffff;
$gray: #b5b5b5;
$font-size-large: 24px;
$font-size-medium: 20px;
$line-height: 1.2;
$border-radius: 2px;

// Миксин для кнопок
@mixin button-style($bg-color, $font-color) {
  background-color: $bg-color;
  color: $font-color;
  font-size: $font-size-large;
  font-weight: 600;
  line-height: 29.05px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $primary-hover;
  }
}

// Миксин для фокуса инпутов
@mixin input-focus($color) {
  &:focus {
    outline-color: $color !important;
  }
}

// Основной блок
.SearchOrAddBlock {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 9.375rem; 
  gap: 1.25rem; 

  .container {
    max-width: 100rem; 
    display: flex;
    flex-direction: column;

    .add {
      width: 100%;
      height: 4.313rem; 
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1.25rem; 

      h2 {
        width: 48.875rem; 
        height: 4.25rem; 
        font-size: 3rem; 
        font-weight: 700;
        line-height: 1.21;
        text-align: left;
      }

      button {
        @include button-style($primary-color, $white);
        width: auto; 
        height: 100%;
      }
    }

    .search {
      position: relative;
      width: 100rem; 
      height: 4.313rem; 
      display: flex;
      align-items: center;
      gap: 1.25rem; 
      padding-bottom: 1.25rem; 

      .search_button {
        @include button-style($primary-color, $white);
        width: 24.063rem; 
        height: 100%;
      }

      .searchIcon {
        position: absolute;
        padding-right: 1.375rem; 
        left: 71.5rem; 
        pointer-events: none;
        margin-top: 15px;
      }

      .search_input { 
        width: 49.375rem; 
        height: 4.188rem; 
        
        padding: 0 0 0 0.625rem; 
        border-radius: $border-radius;
        border: 2px solid $primary-color;

        &::placeholder {
          font-size: $font-size-large;
          font-weight: 600;
          line-height: $line-height;
          text-align: left;
          color: $gray;
        }

        @include input-focus($primary-color);
      }

      .ordersAndProducts {
        display: flex;
        width: 24.063rem; 
        height: 100%;
        border: 2px solid $primary-color;

        button {
          @include button-style($white, $primary-color);
          width: 50%;
          height: 100%;
        }

        .active {
          background-color: $primary-color;
          color: $white;
        }
      }
    }

    .category {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 1.25rem; 

      .card {
        display: flex;
        align-items: center;
        width: 24.063rem; 
        height: 6.25rem; 
        border-radius: $border-radius;
        background: rgba(251, 251, 251, 1);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

        .icon {
          width: 5.625rem; 
          height: 5.375rem; 
          background-color: $primary-color;
          margin: 0 0 0.625rem 0.625rem; 
          border-radius: 0px 0px 3px 3px;
          display: flex;
        }

        p {
          font-size: $font-size-medium;
          font-weight: 500;
          line-height: $line-height;
          text-align: left;
          padding: 1.625rem 3.25rem; 
        }
      }
    }
  }
}

// Media query для планшетов (1024px)
@media screen and (max-width: 1024px) {
  .SearchOrAddBlock {
    .container {
      max-width: 36.5rem; 

      .add {
        h2 {
          width: 270px;
          font-size: 16px; 
          font-weight: 700;
          padding-top: 50px;
        }
        button {
          font-size: 12px;
          font-weight: 500;
          max-width: 139px;
          height: 35px;
        }
      }

      .search {
        width: 36.5rem;

        .search_button {
          width: 106px;
          font-size: 12px;
          font-weight: 500;
          svg {
            width: 15px;
          }
        }

        .searchIcon {
          left: 386px;
          top: 15px;
        }

        .search_input {
          width: 286px;
          &::placeholder {
            font-size: 12px;
            font-weight: 500;
          }
        }

        .ordersAndProducts {
          width: 139px;
          button {
            font-size: 12px;
            font-weight: 500;
          }
          .active {
            width: 66px;
          }
        }
      }

      .category {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.25rem;

        .card {
          width: 284px;
          p {
            width: 97px;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
          }
        }
      }
    }
  }
}
