@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


  $IBPBlue: #3971ff;
  $IBPHover: rgba(136, 170, 255, 1);
  $IBPOnClick: rgba(34, 70, 159, 1);
; 


.SearchOrAddBlock {
  display: flex;
  justify-content: center;
	width: 100%;
  padding-top: 150px;
	gap: 20px;

	.container {
    width: 1600px;
		display: flex;
		flex-direction: column;

		.add {
			width: 100%;
			height: 69px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 20px;

			h2 {
        width: 782px;
        height: 68px;
        
        font-size: 48px;
        font-weight: 700;
        line-height: 58.09px;
        text-align: left;
			}

			Button {
        height: 69px;
        gap: 24px;
        border-radius: 2px 0px 0px 0px;
        opacity: 0px;
				background: $IBPBlue;
				border: none;
        
        
        font-size: 24px;
        font-weight: 600;
        line-height: 29.05px;

        &:hover {
          background-color: $IBPHover;
        }

			}
		}

		.search {
			position: relative;
      width: 1600px;
      height: 69px;
			display: flex;
      align-items: center;
			gap: 20px;
      padding-bottom: 20px;

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
				width: 385px;
        height: 69px;
        gap: 24px;
        border-radius: 2px 0px 0px 0px;
        opacity: 0px;
				background: $IBPBlue;
				border: none;
        
        
        font-size: 24px;
        font-weight: 600;
        line-height: 29.05px;

        &:hover {
          background-color: $IBPHover;
        }

			}

			.searchIcon {
				position: absolute;
				padding-right: 22px;
				left: 1144px;
				pointer-events: none;
			}

			input { 
        width: 790px;
        height: 67px;
        padding: 0px 0px 0px 10px ;
				border-radius: 2px;
				border: 2px solid $IBPBlue;	

				&::placeholder {
					
					font-size: 24px;
					font-weight: 600;
					line-height: 29.05px;
					text-align: left;
					color: #B5B5B5;
				}

				&:focus {
					outline-color: $IBPBlue !important;
					
				}
			}

			.ordersAndProducts {
				display: flex;
			  width: 385px;
        height: 69px;
				border: 2px solid $IBPBlue;

				button {
          background-color: white;
          color: $IBPBlue;
          width: 50%;
          height: 69px;
          gap: 24px;
          border-radius: 2px 0px 0px 0px;
          opacity: 0px;
          border: none;
          cursor: pointer;
          
          
          font-size: 24px;
          font-weight: 600;
          line-height: 29.05px;
				}

				.active {
          width: 50%;
					color: #fff;
          background-color: $IBPBlue;
					border: none;
          border-radius: unset;
          cursor: default;

					font-size: 24px;
					font-weight: 600;
					line-height: 29.05px;
				}
			}
		}
		
		.category {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			gap: 20px;

			.card {
        display: flex;
        align-items: center;
				width: 385px;
				height: 100px;
				border-radius: 2px;
				background: rgba(251, 251, 251, 1);
				box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

				.icon {
					width: 90px;
					height: 86px;
					background-color: $IBPBlue;
					width: 90px;
					height: 86px;
					margin: 0px 0px 10px 10px;
					gap: 15px;
					border-radius: 0px 0px 3px 3px;
					opacity: 0px;
					display: flex;
				}

				& svg {
					width: 90px;
					height: 86px;
					gap: 15px;
					border-radius: 0px 0px 3px 3px;
					opacity: 0px;
				}

        & p {
					font-size: 20px;
					font-weight: 500;
					line-height: 24.2px;
					text-align: left;
					padding: 26px 52px;
        }
			}
		}
	}
}