@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.ProductSliderBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.ProductSliderBlock .container {
  width: 1600px;
  height: 100%;
}
.ProductSliderBlock .container .category {
  display: flex;
  align-items: center;
  padding: 60px 0;
  height: 20px;
}
.ProductSliderBlock .container .category a {
  color: #3971ff;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  text-decoration: none;
  padding-right: 10px;
}
.ProductSliderBlock .container .category svg {
  font-family: "Inter";
  padding-right: 6px;
}
.ProductSliderBlock .container .category h5 {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  color: #A0A0A0;
}
.ProductSliderBlock .container .product {
  display: flex;
}
.ProductSliderBlock .container .product .productImgAndProvider .productImages {
  display: flex;
}
.ProductSliderBlock .container .product .productImgAndProvider .productImages .productImage {
  width: 520px;
  height: 520px;
  border-radius: 2px;
  -o-object-fit: contain;
     object-fit: contain;
}
.ProductSliderBlock .container .product .productImgAndProvider .productImages .slider {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ProductSliderBlock .container .product .productImgAndProvider .productImages .slider .sliderButton1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 40px;
  height: 40px;
  rotate: 270deg;
  border-radius: 50px;
  top: 200px;
  margin-left: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.ProductSliderBlock .container .product .productImgAndProvider .productImages .slider .productSmallImage {
  width: 250px;
  height: 250px;
  border-radius: 2px;
  padding: 0 0 20px 20px;
}
.ProductSliderBlock .container .product .productImgAndProvider .productImages .slider .sliderButton2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 40px;
  height: 40px;
  rotate: 90deg;
  border-radius: 50px;
  margin-left: 20px;
  top: 720px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.ProductSliderBlock .container .product .productImgAndProvider .provider {
  width: 790px;
  height: 168px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  background: #FAFAFA;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.ProductSliderBlock .container .product .productImgAndProvider .provider h2 {
  margin: 0;
  font-family: "Inter";
  font-size: 28px;
  font-weight: 600;
  line-height: 33.89px;
  text-align: left;
  gap: 10px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
}
.ProductSliderBlock .container .product .productImgAndProvider .provider a {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 600;
  line-height: 26.63px;
  text-align: left;
  color: #3971ff;
  margin: 0;
  padding-left: 20px;
}
.ProductSliderBlock .container .product .productImgAndProvider .provider p {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 600;
  line-height: 26.63px;
  text-align: left;
  margin: 0;
  padding-left: 20px;
}
.ProductSliderBlock .container .product .productInfo {
  width: 790px;
  height: 708px;
  margin: 0 0 0 20px;
  border-radius: 2px;
  background-color: #FAFAFA;
  margin-bottom: 150px;
  padding: 0px 20px 0px 20px;
}
.ProductSliderBlock .container .product .productInfo h5 {
  font-family: "Inter";
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  gap: 12px;
  margin: 0;
  margin-bottom: 12px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26.63px;
  text-align: left;
  background: #F4F7FF;
  width: 152px;
  height: 31px;
}
.ProductSliderBlock .container .product .productInfo h3 {
  width: 750px;
  font-family: "Inter";
  font-size: 28px;
  font-weight: 600;
  line-height: 33.89px;
  text-align: left;
  margin: 0;
  padding-bottom: 20px;
}
.ProductSliderBlock .container .product .productInfo h4 {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: left;
  margin: 0;
  padding-bottom: 20px;
}
.ProductSliderBlock .container .product .productInfo .desc {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 500;
  line-height: 26.63px;
  text-align: left;
  color: #464646;
  width: 740px;
  display: flex;
}
.ProductSliderBlock .container .product .productInfo .characteristics {
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
}
.ProductSliderBlock .container .product .productInfo .characteristics h3 {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 600;
  line-height: 26.63px;
  text-align: left;
  padding: 0;
}
.ProductSliderBlock .container .product .productInfo .characteristics span {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 500;
  line-height: 26.63px;
  text-align: left;
  color: #464646;
}
.ProductSliderBlock .container .product .productInfo .teg {
  display: flex;
  flex-direction: column;
}
.ProductSliderBlock .container .product .productInfo .teg h3 {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 500;
  line-height: 26.63px;
  text-align: left;
}
.ProductSliderBlock .container .product .productInfo .teg span {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 500;
  line-height: 26.63px;
  text-align: left;
  color: #3971ff;
}
.ProductSliderBlock .container .product .productInfo button {
  position: absolute;
  top: 840px;
  left: 980px;
  width: 385px;
  height: 69px;
  padding: 20px 10px 20px 10px;
  border-radius: 2px;
  background: #3971FF;
  border: none;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: left;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}/*# sourceMappingURL=style.module.css.map */