@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.MyOrdersBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;

  .container {
    width: 1606px;

    .MyOrdersTitle {
      display: flex;
      flex-direction: column;
      gap: 20px;
    
      h1 {
        font-family: 'Inter';
        font-size: 48px;
        font-weight: 700;
        line-height: 58.09px;
        text-align: left;
        margin: 0;
      }

      h4 {
        font-family: 'Inter';
        font-size: 28px;
        font-weight: 700;
        line-height: 33.89px;
        text-align: left;
        margin: 0;
        margin-bottom: 40px;
      }
    }

    .orderData {
      display: flex;
      gap: 20px;

      .orderDescription {
        display: flex;
        flex-direction: column;

        p {
          font-family: 'Inter';
          font-size: 20px;
          font-weight: 500;
          line-height: 24.2px;
          text-align: left;
          margin: 0;
          margin-bottom: 10px;
        }

        .input {
          width: 790px;
          height: 64px;
          border-radius: 2px;
          border: 1px solid #A0A0A0;
          margin-bottom: 20px;
          
          &::placeholder {
            font-family: 'Inter';
            font-size: 20px;
            font-weight: 500;
            line-height: 24.2px;
            text-align: left;
            color: #ADADAD;
            padding-left: 20px;
          }
        }

        .bigInput {
          width: 790px;
          height: 184px;
          border-radius: 2px;
          border: 1px solid #A0A0A0;
          
          &::placeholder {
            position: absolute;
            padding-left: 20px;
            padding-top: 20px;
            top: 0;
            left: 0;
            font-family: 'Inter';
            font-size: 20px;
            font-weight: 500;
            line-height: 24.2px;
            text-align: left;
            color: #ADADAD;
          }
        }
      }

      .orderCategory {
        // width: 790px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 20px;

        .category {
          width: 385px;
          height: 98px;
          // display: flex;
          // flex-direction: column;
          // gap: 20px;

          .categoryTitle {
            font-family: 'Inter';
            font-size: 20px;
            font-weight: 500;
            line-height: 24.2px;
            text-align: left;
            margin: 0;
            margin-bottom: 10px;
          }

          button {
            width: 385px;
            height: 64px;
            padding: 20px;
            background-color: #F2F2F2;
            border: none;
            display: flex;
            justify-content: space-between;

            font-family: 'Inter';
            font-size: 20px;
            font-weight: 500;
            line-height: 24.2px;
            text-align: left;
            color: #A0A0A0;
          }

          input {
            width: 380px;
            height: 64px;
            border-radius: 2px;
            border: 1px solid #ADADAD;
          
            &::placeholder {
              position: absolute;
              padding-left: 20px;
              padding-top: 20px;
              top: 0;
              left: 0;
              font-family: 'Inter';
              font-size: 20px;
              font-weight: 500;
              line-height: 24.2px;
              text-align: left;
              color: #ADADAD;
            }
          }

          .choice {
            display: flex;
            align-items: center;
            width: 385px;
            height: 64px;
            border-radius: 2px;
            border: 1px solid #ADADAD;
            background-color: white;
            color: black;
          }
        }

        button {
          width: 385px;
          height: 69px;
          border-radius: 2px;
          background-color: #3971FF;
          color: white;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;

          font-family: 'Inter';
          font-size: 24px;
          font-weight: 500;
          line-height: 29.05px;
          text-align: left;
        }
      }
    }
  }
}