.main {
    margin: 40px auto;
    width: 1600px;
}

.headerComment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        font-size: 48px;
    }
    label {
        font-size: 24px;
        color: #3971FF;
    }
}

.comments {
    column-count: 2;
    column-gap: 20px;
    margin-top: 40px;
}
.comments > div {
    break-inside: avoid;
    margin-bottom: 70px;
}
.comments > div:first-child {
    margin-top: 0;
}

@media (max-width: 1024px) {
    
}
