.header {
    color: rgb(0, 0, 0);
    font-size: 48px;
    line-height: 58px;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 60px;
}


.placeProductBtn {
    border-radius: 2px;
    background: rgb(57, 113, 255);
    color: rgb(255, 255, 255);
    font-family: 'Inter';
    font-size: 24px;
    padding: 20px 83px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}


.orderSearch {
    width: 790px;
    border-radius: 2px;
    border: 2px solid rgb(57, 113, 255);
    background: rgb(255, 255, 255);
    padding: 0;
    padding-top: 6px;
    height: 69px;
}

    .orderSearch::placeholder {
        color: rgb(181, 181, 181);
        font-family: 'Inter';
        font-size: 24px;
        padding-left: 20px;
    }


// Label
.setCountry {
    display: flex;
    flex-direction: column;
    max-width: 385px;
    width: 100%;
    height: auto;
}
    .setCountrylist {
        color: rgb(57, 113, 255);
        font-family: 'Inter';
        font-size: 24px;
        max-width: 385px;
        width: 100%;
        height: 69px;
        text-align: center;
        border: 0;
        border-radius: 2px;
        background: rgb(247, 247, 247);
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &__option {
            color: rgb(57, 113, 255);
            font-family: 'Inter';
            font-size: 24px;
            max-width: 385px;
            width: 100%;
            height: 69px;
            text-align: center;
            border: 0;
            border-radius: 2px;
            background: rgb(247, 247, 247);
        }
    }


.GASContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 150px;
}





