.ant-select-selector {
    box-shadow: none !important;
    background: rgb(247, 247, 247) !important;
    border: none !important;
}

.ant-select-selection-item {
    border-radius: 2px !important;
    color: rgb(57, 113, 255);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600 !important;
}