.main {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  text-align: left;
  max-width: 1600px;
  width: 100%;
  align-self: center;
  h2 {
    font-size: 48px;
  }
  p {
    color: #a0a0a0;
    font-size: 24px;
  }
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: space-between;
}


.secondBlock {
  display: flex;
  gap: 20px;
  padding: 0 !important;
  margin: 0 !important;
}


.categories {
  display: block;
  width: 385px;
}


.searchField {
  display: flex;
  justify-content: space-between;
  max-width: 1243px;
  width: 100%;
  gap: 20px;
  &__btn {
    white-space: nowrap;
    width: 385px;
    height: 69px;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 20px 10px 20px 10px;
    background: rgb(57, 113, 255);
    color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    cursor: pointer;
  }
  margin-bottom: 60px;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 22px;
}


.categories,
.select,
.regions,
.divSelect,
.ant-select-selection-item {
  font-size: 22px;
}


.divSelect {
  display: flex;
  align-items: center;
  gap: 10px;
}


.selectDiv {
    height: 69px;
}


.select {
  font-size: 24px;
  max-width: 385px;
  width: 100%;
  appearance: none;
  height: 67px;
  margin-bottom: 52px !important;
}


.regions {
  height: 70px;
  border: 1px solid #e1e1e1;
  border-left: none;
  border-right: none;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputPrice {
  margin-top: 20px;
  width: 224px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    width: 65px;
    height: 22px;
    padding: 16px;
    font-size: 20px;
  }
}


.price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.viewedCheck,
.completedCheck,
.price {
  padding-left: 6px;
}


.viewedCheck,
.completedCheck {
  margin-top: 10px;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
}


.viewedCheck, .completedCheck {
    border-bottom: 1px solid #e1e1e1;
}


.title{
  font-size: 24px;
  font-weight: 600;
  color:  #000000;
  margin-top: 26px;
  margin-bottom: 20px;
}


.orderRow {
  display: flex;
  gap:20px;
}


.orderList_blog{
  width: 563px;
  height: 400px;
  background-color: #E4E4E4;
  margin-top: 50px;
}


.orderList_blog_title{
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}


.orderList{
  max-width: 563px;

}


.orderList_blog_title_text span{
  font-size: 28px;
  font-weight: 500;
}

.orderList_blog_bigText span{
  font-size: 24px;
  font-weight: 600;
}
.orderList_blog_smallText {
  display: grid;
}

.orderList_blog_smallText span{
  font-size: 20px;
  font-weight: 600;
}
.orderList_blog_smallText h3{
 
  padding: 10px;
  margin: 0;
}

.see_also{
  margin-top: 20px;
}

.orders{
  max-width: 562px;
}


.blog_card{
  display: flex;
}

// orders
.orders {
display: flex;
flex-direction: column;
max-width: 1243px;
width: 100%;
height: auto;
&__frame_block {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 25px;
}
}

// order frame
.order_frame {
  display: flex;
  flex-direction: column;
  max-width: 585px;
  width: 100%;
  height: auto;
  padding: 12px;
  border-radius: 2px;
  background: rgb(243, 246, 255);
  align-items: center;
  &__order_img {
    position: relative;
    max-width: 550px;
    width: 100%;
    height: 400px;
    border-radius: 2px;
    background: rgb(228, 228, 228);
    margin-bottom: 20px;
  }
  &__cross {
    position: absolute;
    left: 509.5px;
    top: 16px;
    cursor: pointer !important;
  }
  &__title {
    margin: 0;
    margin-right: auto;
    margin-left: 18px;
    margin-bottom: 25px;
    color: rgb(11, 22, 35);
    font-family: 'Inter', sans-serif;
    font-size: 28px;
  }
  &__price {
    margin: 0;
    margin-right: auto;
    margin-left: 18px;
    margin-bottom: 25px;
    color: rgb(11, 22, 35) !important;
    font-family: 'Inter', sans-serif;
    font-size: 28px !important;
  }
  &__description {
    margin: 0;
    margin-right: auto;
    margin-left: 18px;
    margin-bottom: 16px;
    color: rgb(11, 22, 35);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
  }
  &__regions {
    margin: 0;
    margin-right: auto;
    margin-left: 18px;
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
  }
  &__contact {
    margin: 0;
    margin-right: auto;
    margin-left: 18px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
  }
  &__frame_btn {
    max-width: 553px;
    width: 100%;
    height: 69px;
    align-items: center;
    border-radius: 2px;
    background: rgb(57, 113, 255);
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: auto;
      color: rgb(255, 255, 255);
      font-family: 'Inter', sans-serif;
      font-size: 24px;
  }
}


