.modal {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
}

.main {
    position: relative;
    max-width: 892px;
    width: 100%;
    height: 700px;
    overflow-y: scroll;
    padding: 30px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    &__header {
        color: rgb(11, 22, 35);
        font-family: 'Inter', sans-serif;
        font-size: 28px;
        margin: 0;
        margin-bottom: 10px;
    }
    &__second_header {
        color: rgb(160, 160, 160);
        font-family: 'Inter', sans-serif;
        font-size: 20px !important;
        font-weight: 400;
        margin: 0;
        margin-bottom: 64px;
    }
    &__categories_header {
        color: rgb(0, 0, 0);
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }
    &__order_title {
        box-sizing: border-box !important;
        border: 1px solid rgb(160, 160, 160);
        border-radius: 2px;
        background: rgb(255, 255, 255);
        max-width: 790px;
        width: 100%;
        height: 64px;
        padding: 20px;
        color: rgb(173, 173, 173);
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        &::placeholder {
            color: rgb(173, 173, 173);
        }
        margin-bottom: 84px;
    }
    &__order_description {
        box-sizing: border-box !important;
        border: 1px solid rgb(160, 160, 160);
        border-radius: 2px;
        max-width: 790px;
        width: 100%;
        height: 200px;
        padding: 20px 20px 0 20px;
        color: rgb(173, 173, 173);
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        outline: none;
        &::placeholder {
            color: rgb(173, 173, 173);
        }
        margin-bottom: 64px;
    }
}


  .closeModalWindow{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 10px 0 0;
    cursor: pointer;
}


.categories {
    max-width: 385px !important;
    width: 100%;
    height: 64px;
    margin-bottom: 20px;
}
    .dropdown {
        background: #faf9f9;
    }



