.card_container {
  font-family: 'Inter', sans-serif;

}






.card {
  max-width: 365px;
  height: 590px;
  padding: 12px 8px 12px 8px;
  border-radius: 2px;
  background: rgb(243, 246, 255);
}
.card_image {
  width: 362px;
  height: 400px;
  border-radius: 2px;
  background: rgb(228, 228, 228);
}

.product_card {
  color: rgb(0, 0, 0);
  width: 365px;
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}

.card_text {
  color: rgb(93, 93, 93);
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.card_text_description {
  height: 65px;
}