.searchForm {
    position: relative;
    max-width: 790px;
    width: 100%;
  }
  
  .searchInput {
    color: rgb(181, 181, 181);
    height: 63px;
    width: 100%;
    border: 2px solid #3971FF ;
    font-size: 24px;
    padding-left: 20px
  }

  .searchInput::placeholder {
    color: rgb(181, 181, 181);
  }

  .searchIcon {
    position: absolute;
    top: 20px;
    left: 760px;
  }