.orders_frame {
  border-radius: 4px;
  background: rgb(251, 251, 251);
  max-width: 1195px;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  &__order_number {
    display: flex;
    justify-content: space-between;
    color: rgb(160, 160, 160);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
  }
  &__order_title {
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 0;
    margin: 30px 0 10px 0;
  }
  &__order_description {
    max-width: 1056px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-size: 22px;
  }
  &__order_place {
    display: flex;
    color: rgb(11, 22, 35) !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    margin: 0;
    margin-top: 34px;
    position: relative;
  }
  &__order_city {
    margin: 0;
    color: rgb(11, 22, 35) !important;
  }
  &__eye {
    background-image: url(../../shared/assets/icons/eye-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24.61px;
    height: 17.5px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    &:hover {
      background-image: url(../../shared/assets/icons/completed-icon.png);
    }
  }
  &:hover {
    box-shadow: 3px 3px 4px rgb(57, 113, 255);
  }
  &:active {
    box-shadow: 3px 3px 4px rgb(136, 170, 255);
  }
  transition: 0.2s;
  cursor: pointer;
}