.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.main {
  background-color: #ffff;
  width: 460px;
  height: 582px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    color: #000 !important;
    font-size: 24px;
    font-weight: 500px;
  }
}
.krestik {
  position: relative;
  top: -287px;
  left: 509px;
}

.select {
  height: 69px;
}
.divSelect {
  font-size: 22px;
}
