.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.main {
  background: #FBFBFB;
  max-width: 470px;
  width: 100%;
  height: 582px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    color: #000 !important;
    font-size: 24px;
    font-weight: 500px;
    margin: 0;
    margin-bottom: 20px;
  }
}
.closeModal__icon {
  position: relative;
  top: -287px;
  left: 518px;
  cursor: pointer;
}

.optionList {
  height: 69px;
  font-size: 22px;
}

.divSelect {
  font-size: 24px;
}


.optionList__label_main {
  background: rgb(251, 251, 251) !important;
  padding: 20px 10px !important;
  box-shadow: none !important;
  &:hover {
    background: rgba(57, 113, 255, 0.247) !important;
  }
}