.main {
  margin: 50px auto;
  max-width: 1600px;
  width: 100%;
  h2 {
    font-size: 48px;
  }
  p {
    color: #a0a0a0;
    font-size: 24px;
  }
}

.secondBlock {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}
.categories {
  width: 385px;
}
.searchField {
  display: flex;
  justify-content: space-between;
  max-width: 1215px;
  width: 100%;
  margin-bottom: 20px;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.categories,
.select,
.regions,
.divSelect,
.ant-select-selection-item {
  font-size: 22px;
}
.divSelect {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  &__arrow {
    z-index: inherit;
  }
}
.icon {
    position: relative;
    top: -45px;
    left: 353px;

}

.selectDiv {
    height: 69px;
}


.select_categories_block {
  position: relative;
  display: flex;
  max-width: 385px;
  width: 100%;
  height: 67px;
  align-items: center;
}

.categories_select {
  max-width: 385px;
  width: 100%;
  height: 67px;
  border: none !important;
  transition: 0.3s;
  font-size: 22px !important;
  &__arrow {
    position: absolute;
    right: 10px;
  }
}

.categories_select::after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #3971FF;
  transition: 0.3s;
  left: 0;
  bottom: 0;
}

.categories_select:hover::after {
  width: 100%;
}

:global(.ant-select-selector) {
  font-size:29px !important;
  color: rgb(57, 113, 255) !important;
}

.regions {
  height: 70px;
  border: 1px solid #e1e1e1;
  border-left: none;
  border-right: none;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.inputPrice {
  width: 224px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    width: 65px;
    height: 22px;
    padding: 16px;
    font-size: 20px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 2px;
    background: rgb(255, 255, 255);
    color: rgb(181, 181, 181);
  }
  input::placeholder {
    color: rgb(181, 181, 181);
  }
  &__line {
    width: 8px;
    height: 2px;
    background: rgb(217, 217, 217);
    font-family: sans-serif;
  }
}
.price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.viewedCheck,
.completedCheck,
.price {
  padding-left: 6px;
}

.completedCheck {
  color: rgb(160, 160, 160);
}

.viewedCheck,
.completedCheck {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
}
.check {
  width: 28px;
  height: 28px;
}

.viewedCheck, .completedCheck {
    border-bottom: 1px solid #e1e1e1;
}
.viewedCheck {
    border-top: 1px solid #e1e1e1;
    &__hide_viewed {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
}

.orders {
  max-width: 1216px;
  width: 100%;
  height: auto;
  margin-left: 5px;
}


// order frame
.orders_frame {
  border-radius: 4px;
  background: rgb(251, 251, 251);
  max-width: 1195px;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  &__order_number {
    display: flex;
    justify-content: space-between;
    color: rgb(160, 160, 160);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
  }
  &__order_title {
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 0;
    margin: 30px 0 10px 0;
  }
  &__order_description {
    max-width: 1056px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-size: 22px;
  }
  &__order_place {
    display: flex;
    color: rgb(11, 22, 35) !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    margin: 0;
    margin-top: 34px;
    position: relative;
  }
  &__order_city {
    margin: 0;
    color: rgb(11, 22, 35) !important;
  }
  &__eye {
    background-image: url(../../shared/assets/icons/eye-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24.61px;
    height: 17.5px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    &:hover {
      background-image: url(../../shared/assets/icons/completed-icon.png);
    }
  }
}


// completed order frame
.completed_orders_frame {
  border-radius: 4px;
  background: rgb(237, 237, 237);
  max-width: 1195px;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  &__order_number {
    display: flex;
    justify-content: space-between;
    color: rgb(160, 160, 160);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
  }
  &__order_title {
    color: rgb(160, 160, 160);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 0;
    margin: 30px 0 10px 0;
  }
  &__order_description {
    max-width: 1056px;
    width: 100%;
    color: rgb(160, 160, 160);
    font-family: 'Inter', sans-serif;
    font-size: 22px;
  }
  &__order_place {
    display: flex;
    color: rgb(11, 22, 35) !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    margin: 0;
    margin-top: 34px;
    position: relative;
  }
  &__order_city  {
    margin: 0;
    color: rgb(160, 160, 160);
  }
  &__eye {
    background-image: url(../../shared/assets/icons/completed-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24.61px;
    height: 17.5px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: none;
    transition: 0.3s;
  }
}

// custom checkboxes
.check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.completedCheck_label {
  position: relative;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border: 2px solid rgb(160, 160, 160);
  border-radius: 5px;
  cursor: pointer;
}

.completedCheck_label::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: -3px;
  top: -3px;
}


.check:checked + .completedCheck_label::before {
  background: rgb(160, 160, 160);
  border-radius: 5px;
  border: 3px solid rgb(255, 255, 255);
}


.completedCheck_label__2 {
  position: relative;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
}

.completedCheck_label__2::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: -3px;
  top: -3px;
}

.viewedCheck__hide_viewed:checked + .completedCheck_label__2::before {
  background: #000;
  border-radius: 5px;
  border: 3px solid rgb(255, 255, 255);
}