.main {
  margin: 50px auto;
  max-width: 1600px;
  width: 100%;
  h2 {
    font-size: 48px;
  }
  p {
    color: #a0a0a0;
    font-size: 24px;
  }
}

.secondBlock {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}
.categories {
  width: 385px;
}
.searchField {
  display: flex;
  justify-content: space-between;
  max-width: 1215px;
  width: 100%;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.categories,
.select,
.regions,
.divSelect,
.ant-select-selection-item {
  font-size: 22px;
}
.divSelect {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
    position: relative;
    top: -45px;
    left: 353px;

}

.selectDiv {
    height: 69px;
}


.select {
  max-width: 385px;
  width: 100%;
  height: 67px;
  border: none !important;
  transition: 0.3s;
  &__arrow {
    margin-left: -23px;
  }
  &:hover {
    background: rgb(245, 245, 245);
  }
  
}
:global(.ant-select-selector) {
  font-size:29px !important;
  color: rgb(57, 113, 255) !important;
}

.regions {
  height: 70px;
  border: 1px solid #e1e1e1;
  border-left: none;
  border-right: none;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.inputPrice {
  width: 224px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    width: 65px;
    height: 22px;
    padding: 16px;
    font-size: 20px;
  }
}
.price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.viewedCheck,
.completedCheck,
.price {
  padding-left: 6px;
}

.completedCheck {
  color: rgb(160, 160, 160);
}

.viewedCheck,
.completedCheck {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
}
.check {
  width: 28px;
  height: 28px;
}

.viewedCheck, .completedCheck {
    border-bottom: 1px solid #e1e1e1;
}
.viewedCheck {
    border-top: 1px solid #e1e1e1;
}

.orders {
  max-width: 1216px;
  width: 100%;
  height: auto;
  margin-left: 5px;
}