// @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 365px;
  margin-top: 190px;
  margin-bottom: 150px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 56px;
    padding: 16px 20px 16px 20px;
    gap: 10px;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid #DEDEDE;
    color: #3971FF;
    background-color: #FFFFFF;

    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: left;
  }

  .active {
    width: 250px;
    height: 56px;
    padding: 16px 20px 16px 20px;
    gap: 10px;
    border-radius: 2px;
    border: 1px solid #DEDEDE;
    color: white;
    background-color: #3971FF;

    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: left;
  }
}