.modal {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
}

.main {
    background-color: #ffff;
    width: 790px;
    height: 266px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h2 {
        font-size: 48px;
    }
    span {
        font-size: 20px;
    }
}
.krestik {
    position: relative;
    top: -143px;
    left: 841px;
}