.contact__frame {
    max-width: 480px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    cursor: pointer;
}

.contact__activeFrame {
    max-width: 480px;
    width: 100%;
    border-radius: 20px;
    background: rgb(235, 235, 235);
    padding: 10px 0;
    cursor: pointer;
}