.main{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    
    background: linear-gradient(-45deg,rgba(0, 0, 0, 0.35), rgb(57, 113, 255, 0.35), #4400ff52);
    background-size: 400% 400%;
    animation: modalBG 10s ease-in-out infinite;
}

.BlogModal {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 750px;
    border-radius: 2px;
   
    background: rgb(255, 255, 255);
    padding: 19.5px 19.5px;
    margin: auto;
}

.Blog_form_block{
    display: flex;
    justify-content: space-between;
}

.subtitle{
     color: #A0A0A0;
    
}
.closeModalWindow {
    cursor: pointer;
}

.closeModalWindow{
    display: flex;
    margin-left: auto;
}

.registerForm__submit {
    cursor: pointer;
    width: 385px;
    height: 56px;
    text-align: center;
    border: none;
    border-radius: 2px;
    background: rgb(57, 113, 255);
    transition: 0.3s;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    transition: 0.2s;
    margin-top: 25px;
}

// hover

.registerForm__submit:hover {
    background: #FF9900;
    color: #000;
}

.registerForm__submit:focus {
    background: rgb(108, 143, 231);
    color: rgba(0, 0, 0, 0.144)
}
  

.form_blog input::placeholder{
    font-size: 20px;
    margin-right: 10px;
    
   
        
    font-size: 24px;
    padding-left: 10px;
    resize: none;

}

.modalWindow__becomeAccount {
    cursor: pointer;
    color: rgb(57, 113, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.modalWindow__becomeAccount > p {
    transition: 0.3s;
}

.form_blog input{
    width: 385px;
    height: 64px;
}

.form_blog1 input{
    width: 790px;
    height: 120px;
}

@media (max-width: 1024px) {
    .BlogModal {
        width: 314px; /* Уменьшение ширины до 314px */
        height: 310px; /* Автоматическая высота для более гибкого адаптирования */
        padding: 15px;
        
         
    }

    .registerForm__submit {
        width: 100%; /* Устанавливаем кнопку на полную ширину блока */
        height: 45px; /* Уменьшение высоты кнопки */
        font-size: 20px; /* Уменьшение размера текста */
    }

    .form_blog input::placeholder {
        font-size: 18px; /* Корректируем размер плейсхолдера */
    }

    .modalWindow__becomeAccount {
        font-size: 20px; /* Уменьшение размера текста */
    }

    .Blog_title_text{
        margin-top: -3px;
        .title{
            font-size: 14px;
            font-weight: 600;
        }
        .subtitle{
            font-size: 10px;
        }

    }
    .Blog_form_block{
        margin-top: -10px;
    }
    .Blog_form_block_title{
        .Blog_form_block_title_text{
            font-size: 12px;
            font-weight: 500;
        }

        .form_blog input{
            width: 139px;
            height: 31px;
        }
    }
    .Blog_form_block_title1{
        .Blog_form_block_title_text{
            font-size: 12px;
            font-weight: 500;
        }

        .form_blog input{
            width: 139px;
            height: 31px;
        }
    }

    .Blog_title_text{
        .title{
            font-size: 12px;
            font-weight: 500;
        }

        
    }
    .form_blog1 input{
        width: 305px;
        height: 87px;
    }

    .form_blog2{
        display: none;
    }

    .registerForm__submit{
        margin-top: 6px;
        width: 139px;
        height: 35px;
    }
}

@media (max-width: 420px) {
    .registerForm__submit{
        margin-top: 6px;
        width: 312px;
        height: 35px;
    }
    .form_blog1 input{
        width: 305px;
        height: 74px;
    }
    
}